@media all {
    *{
        font-family: 'Courier New', Courier, monospace;
        font-weight: 100;
        font-size:30px;
    }
    body{
        height: 100vh;
        margin: 0;
        background-color: #F3F5FC;
        display: flex;
        flex-direction: column;
    }

    #logoAlura{
        margin-top: 1%;
        margin-left: 1%;
    }

    #containerIngresePalabra{
        text-align: center;
        margin: 0 auto;
        width: 100%;
        padding-top: 5%;
        align-items: center;
        align-content: center;
    }

    #divIngresePalabra{
        display: inline-block;
        font-family:'Inter', sans-serif;
        color: #0A3871;
        width: auto;
    }

    #inputAgregarPalabra{
        border: 0px solid red;
        outline: none;
        width: 100%;
        background-color: #F3F5FC;
        color:#0A3871;
        display: flex;
        align-items: center;
        word-break:break-all;
    }

    ::placeholder { 
        color:#0A3871;
        font-weight: 900;
    }

    #containerAviso{
        text-align:center;
        margin: 0 auto;
        width: 100%;
        padding-top: 10%;
        align-items: center;
        align-content: center;
    }

    #textoAviso{
        font-size: 15px;
        margin-left: -10px;
    }    

    #containerBotones{
        text-align: center;
        margin: 0 auto;
        width: 100%;
        align-items: center;
        align-content: center;
    }

    #divBotonGuardar{
        display: inline-block;
        align-content: center;
    }

    #divBotonCancelar{
        display: inline-block;
        align-content: center;
    }
    
    #botonGuardarEmpezar{
        color:#ffffff;
        font-family:'Inter', sans-serif;
        font-size: 30px;
        background-color: #0A3871;
        margin-top: 20px;
        border-radius: 50px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 50px;
        padding-right:50px;
        cursor: pointer;
    }
    #botonCancelar{
        color:#0A3871;
        font-family:'Inter', sans-serif;
        font-size: 30px;
        background-color:  #F3F5FC;
        margin-top: 20px;
        border-radius: 50px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 50px;
        padding-right: 50px;
        cursor: pointer;
    }
    
    footer{
        margin-top: auto;
        padding-top: 30px;
        text-align: center;
    }

    footer h5, b{
        font-size: 20px;
    }
    
} 